
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root{

    /*colors*/
    --b1cd: #500033;
    --b1cl: #FF0077;
    --b2cd: #000050;
    --b2cl: #0033FF;
    --b3cd: #00501D;
    --b3cl: #00FF44;
    --b4cd: #554D00;
    --b4cl: #FF4E00;
    --b5cd: #300050;
    --b5cl: #8000FF;
    --black: #000;
    --white: #fff;
    --grey: #B5B4B4;

    --first-box: #FF0077;
    --second-box: #0033FF;
    --third-box: #00FF44;
    --fourth-box: #FF4E00;
    --fifth-box: #8000FF;

    --pink-one:rgba(51, 0, 33,0.5);
    --pink-two:#400029;
    --pink-three:#500033;

    --blue-one: rgba(0, 0, 51,0.5);
    --blue-two: #000050;
    --blue-three:#000080;

    --green-one: rgba(0, 51, 18,0.5);
    --green-two: #00501D;
    --green-three:#004017;

    --orange-one: rgba(0, 0, 51,0.5);
    --orange-two: #000050;
    --orange-three:#000080;

    --purple-one: rgba(0, 0, 51,0.5);
    --purple-two: #000050;
    --purple-three:#000080;


    /*fonts*/
    --ff-primary:'Roboto', sans-serif;
    --ff-condense: 'Open Sans Condensed', sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
}



/* ------------------------------------- 1. MAIN CONFIG ---------------------------------- */


body {
    font-family: var(--ff-condense);
    font-size: 16px;
    background: #fff;
    text-transform: capitalize;
}


/*fonts config*/
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
  text-transform: capitalize;
}
h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1rem;
  font-weight: 100;
}
h4 {
  font-size: 0.875rem;
}
p {
  font-size: 0.8rem;
  color: var(--grey);
}

/* ------------------------------------- 2. BODY ---------------------------------- */

body{
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: var(--black) ;
    color: #fff;
}

/* ------------------------------------- 2. CONTAINER ---------------------------------- */

.main-container{
  margin-top:10vh;
  position: relative;
  width: 80vw;
  height: 80vh;
  /* background: linear-gradient(80deg, var(--b5cl) 40%, var(--b5cd) 40%) ; */
  background:
  linear-gradient(85deg, #a7332b 45%, transparent 0),
  linear-gradient(95deg, #6a201b 45%, #561a16 0) 0 0

  ;
  /* background:
  linear-gradient(315deg, transparent 75%, #d45d55 0) -10px 0,
  linear-gradient(135deg, #a7332b 50%, transparent 0) 0 0,
  linear-gradient(45deg, #6a201b 50%, #561a16 0) 0 0 #561a16; */
  
  border-radius: 40px;
  text-align: left;
}

/*arrows*/

.arrows{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.arrow{
  position: absolute;
  border-left: 0.5rem solid #fff;
  border-bottom: 0.5rem solid #fff;
  width: 2rem;
  height: 2rem;
  transform: rotate(45deg);
  opacity: 50%;
}
.arrow:hover{
  opacity: 100%;
  transition: var(--transition);
}

.left{
  position: absolute;
  bottom: 50%;
  z-index: 2;
  padding: 20px;
  left: -10px;
  min-width: 20px;
}
.right{
    transform: rotate(225deg);
    position: absolute;
    bottom: 50%;
    z-index: 2;
    padding: 20px;
    right: -10px;
    max-width: 40px;
}
/*end arrows*/


.information{
  position: relative;
  margin-top: 15%;
  margin-left: 100px;
  height: 200px;
  width: 300px;
  animation-name: example;
  animation-duration: 4s;
}

/* .title{
  animation-name: titleAnim;
  animation-duration: 2s;
}

.btn-check{
  animation-name: buttonAnim;
  background-color: var(--b4cl);
  animation-duration: 2s;
  position: relative;
} */


/*
NEW animations
*/
@keyframes outer-left {
  from {
    transform: translateX(50%);
  }
  to {
    transform: none;
  }
}

@keyframes inner-left {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: none;
  }
}

.title,
.btn-check {
  animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
}


/*</>*/



@keyframes example {
  from {opacity: 0%; }
  to {opacity: 100%; }
}

@keyframes titleAnim {
  from {  margin-bottom:-30px; }
  to {  margin-bottom:0px;}
}

@keyframes buttonAnim {
  from {  top:-30px; }
  to { text-underline-position:0px;}
}




.information button{
  height: 35px;
  width: 130px;
  border-radius: 15px;
  color: #fff;
  margin-top: 20px;
}


/* ------------------------------------- 3. IMAGES ---------------------------------- */

.image{
  position: absolute;
  width: 190px;
  height: 250px;
  transform: skew(-10deg);
  border-radius: 15%;
  background-color: var(--fifth-box);

}

.image1{
  
  top: 30%;
  left: 70%;
}
.image2{
  top: 27%;
  left: 72%;
  opacity: 40%;
}
.image3{
  top: 29%;
  left: 74%;
  opacity: 70%;
}

/* ------------------------------------- 4. sliders ---------------------------------- */


.slides{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 80px;
}

.slide-container{
margin-right: 10px;
text-align: center;
opacity: 50%;

}

.slide-container:hover{
    opacity: 100%;
    transition: var(--transition);


}




.slide{
  width: 100px;
  height: 4px;
  background-color: #fff;
  margin-bottom: 20px;
}
